body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgba(0, 0, 0, 0) !important; */
  background-color: #f8fafc !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.fullContainer {
  height: 100vh !important;
}
.formColor {
  background-color: rgb(255, 255, 255) !important;
}
.textLeft {
  text-align: left !important;
}
.heading4 {
  color: #334155;
  color: rgb(51, 65, 85);
  font-weight: 600;
}

.globalbtnColor {
  color: #ffffff !important;
  background-color: #1d4ed8 !important;
}

.formWidth {
  width: 400px !important;
}
